<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 구글 현재위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- foreground -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- API 사용을 위한 인터넷권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 알림 권한 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 전화앱 접근 권한 -->
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <!-- 사진 접근 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- API 33 이상 AD권한 -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <!--
    android:allowBackup="true"
    android:foregroundServiceType="location"
    android:fullBackupOnly="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    -->

    <application
        android:name=".CafeJariApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.CafeJariApp"
        tools:targetApi="33">
        <!-- 구글맵 api -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleAndroidApiKey}" />
        <!-- 구글 admob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6775038074316382~7095720687"/>
        <!-- FCM 관련 -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_light" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- 네이버맵 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${naverMapApiKey}" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.CafeJariApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--카카오 로그인 설정-->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao${kakaoNativeAppKey}" />
            </intent-filter>
        </activity>

        <!-- FCM -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>